
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgray;
}

h1 {
    font-size: 68px;
    text-align: center;
    margin-top: 30px;
}

p {
    font-size: 18px;
    font-weight: bold;
}

button {
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: rgb(240, 236, 236);
    font-weight: bold;
    box-shadow: 0 5px #999;
    cursor: pointer;
}

button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}


.select-size {
    background-color: blue;
}

.black {
    background-color: black;
}

.rainbow {
    background-color: red;
}

.eraser {
    background-color: rgb(240, 240, 8);
    color: black;
}

.clear {
    background-color: green;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 150px;
}

.container {
    display: grid;
    width: 580px;
    height: 580px;
    border: 4px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.cell {
    border: 1px solid black;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.black-color {
    background-color: black;
}



